# Tuple

> **Tuple** คือโครงสร้างข้อมูลประเภทหนึ่งในภาษา Python ที่ใช้เก็บข้อมูลหลายรายการไว้ในตัวแปรเดียว Tuple มีลักษณะคล้ายกับ List      
>แต่มีความแตกต่างที่สำคัญคือ
**Tuple ไม่สามารถแก้ไขได้** (**immutable**)
เมื่อสร้างขึ้นแล้ว

## คุณสมบัติหลักของ Tuple

1.  **มีลำดับ (Ordered)**: สมาชิกใน Tuple จะถูกจัดเก็บตามลำดับที่เรากำหนด และสามารถเข้าถึงได้ผ่านดัชนี (index)
2.   **ไม่สามารถเปลี่ยนแปลงได้ (Immutable)**: นี่คือความแตกต่างที่สำคัญที่สุด เมื่อ Tuple ถูกสร้างขึ้น เราไม่สามารถเพิ่ม ลบ หรือแก้ไขสมาชิกภายในได้
3. **ยอมรับค่าซ้ำ (Allows Duplicates)**: สามารถมีสมาชิกที่มีค่าซ้ำกันได้
4. **เก็บข้อมูลได้หลากหลายชนิด (Heterogeneous)**: สามารถเก็บข้อมูลต่างชนิดกันได้ เช่น ตัวเลข, ข้อความ, หรือ List

## การสร้าง Tuple


**การสร้าง Tuple โดยใช้วงเล็บ ()**
> สามารถสร้าง Tuple ได้โดยการนำสมาชิกมาใส่ไว้ในวงเล็บ () และคั่นด้วยเครื่องหมายจุลภาค , (comma)

In [ ]:
# ตัวอย่างการสร้าง Tuple
my_tuple = ("apple", "banana", "cherry", 123)

# การสร้าง Tuple ที่มีสมาชิกเพียงตัวเดียว ต้องมีเครื่องหมายจุลภาคต่อท้าย
single_tuple = ("hello",)
print(type(single_tuple))

<class 'tuple'>

**การสร้าง Tuple โดยใช้ `tuple()` constructor**

**`tuple()`** constructor เป็นฟังก์ชันที่ใช้สร้าง Tuple โดยรับ iterable (เช่น List, String, หรือ Tuple อื่นๆ) เป็นอาร์กิวเมนต์ ตัวอย่างเช่น

In [ ]:
# ใช้ tuple() constructor เพื่อสร้าง Tuple จาก List หรือ iterable อื่นๆ
tuple_constructor = tuple(['Jack', 'Maria', 'David'])
print(tuple_constructor)

# ผลลัพธ์: ('Jack', 'Maria', 'David')

('Jack', 'Maria', 'David')

**Tuple ว่าง (Empty Tuple)**


> สามารถสร้าง Tuple ที่ไม่มีสมาชิกได้โดยใช้เพียงวงเล็บเปล่า **`()`** หรือใช้ **`tuple()`** constructor ที่ไม่มีอาร์กิวเมนต์

In [ ]:
# สร้าง Tuple ว่าง
empty_tuple = ()
print(empty_tuple)
# ผลลัพธ์: ()

()

In [ ]:
empty_tuple = tuple()
print(empty_tuple)

()

**Tuple ที่มีสมาชิกหลากหลายชนิด (Mixed Data Types)**


> Tuple สามารถเก็บสมาชิกที่มีชนิดข้อมูลต่างกันได้ใน Tuple เดียวกัน เช่น การรวม String, Integer, และ Boolean ไว้ด้วยกัน

In [ ]:
# ตัวอย่าง Tuple ที่มีข้อมูลหลากหลายชนิด
mixed_tuple = (2, 'Hello', 'Python', True)
print(mixed_tuple)
# ผลลัพธ์: (2, 'Hello', 'Python', True)

(2, 'Hello', 'Python', True)

**ข้อดีของ Tuple**

เนื่องจาก Tuple ไม่สามารถเปลี่ยนแปลงได้ ทำให้มีข้อดีในด้านประสิทธิภาพและความปลอดภัยของข้อมูล:

1. ประสิทธิภาพ: Tuple มักจะทำงานเร็วกว่า List เล็กน้อย

2. ความปลอดภัยของข้อมูล: เหมาะสำหรับเก็บข้อมูลที่เราต้องการให้คงที่ เช่น ค่าคงที่ (constants) หรือข้อมูลการตั้งค่า (configuration data)

3. การใช้งานใน Dictionary: Tuple สามารถใช้เป็น Key ใน Dictionary ได้ (เนื่องจากเป็น immutable) ในขณะที่ List ไม่สามารถทำได้

## การเข้าถึงสมาชิกใน Python Tuple

การเข้าถึงสมาชิกใน Tuple ทำได้โดยใช้ **ดัชนี (index)** ซึ่งเป็นหมายเลขตำแหน่งของสมาชิกแต่ละตัวใน Tuple

**หลักการของดัชนีใน Tuple**
* ดัชนีของ Tuple จะเริ่มต้นจาก 0 เสมอ
* สมาชิกตัวแรกมีดัชนีเป็น 0
* สมาชิกตัวที่สองมีดัชนีเป็น 1
* และเป็นเช่นนี้ต่อไปเรื่อย ๆ

![Index of Tuple](https://www.programiz.com/sites/tutorial2program/files/tuple-index-item-python.png)

**การเข้าถึงสมาชิกด้วยดัชนี**
เราใช้เครื่องหมายวงเล็บเหลี่ยม **`[ ]`** ตามด้วยหมายเลขดัชนี เพื่อเข้าถึงสมาชิกที่ต้องการ

![Access Tuple Items Using Index](https://www.programiz.com/sites/tutorial2program/files/access-python-tuple-item.png)

In [ ]:
languages = ('Python', 'Swift', 'C++')

# เข้าถึงสมาชิกตัวแรก (ดัชนี 0)
print(languages[0])  # ผลลัพธ์: Python

# เข้าถึงสมาชิกตัวที่สาม (ดัชนี 2)
print(languages[2])  # ผลลัพธ์: C++

**Negative Indexing**

นอกจากการใช้ดัชนีบวก (นับจากต้น) เรายังสามารถใช้ Negative Indexing (ดัชนีติดลบ) เพื่อเข้าถึงสมาชิกโดยนับจากท้าย Tuple ได้:

* ดัชนี -1 หมายถึงสมาชิกตัวสุดท้าย

* ดัชนี -2 หมายถึงสมาชิกตัวรองสุดท้าย

* และเป็นเช่นนี้ต่อไป

In [ ]:
languages = ('Python', 'Swift', 'C++')

# เข้าถึงสมาชิกตัวสุดท้าย (ดัชนี -1)
print(languages[-1])  # ผลลัพธ์: C++

# เข้าถึงสมาชิกตัวรองสุดท้าย (ดัชนี -2)
print(languages[-2])  # ผลลัพธ์: Swift

## Tuple ไม่สามารถแก้ไขได้ (Immutable)

ใน Python, Tuple เป็นโครงสร้างข้อมูลที่ **ไม่สามารถเปลี่ยนแปลงได้ (immutable)** นี่หมายความว่าเมื่อ Tuple ถูกสร้างขึ้น เราไม่สามารถเพิ่ม (add), เปลี่ยนแปลง (change), หรือลบ (delete) สมาชิกภายในได้


**ลักษณะเฉพาะของการแก้ไขไม่ได้** หากพยายามแก้ไขสมาชิกใน Tuple โดยการกำหนดค่าใหม่ให้กับดัชนีใด ๆ คุณจะได้รับข้อผิดพลาด **TypeError**

In [ ]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')

# พยายามแก้ไขสมาชิกตัวแรก (ดัชนี 0)
cars[0] = 'Nissan'

TypeError: 'tuple' object does not support item assignment

## ความยาวของ Tuple

>สามารถใช้ฟังก์ชัน **`len()`** เพื่อหาจำนวนสมาชิกทั้งหมด (ความยาว) ของ Tuple ได้ ฟังก์ชันนี้ทำงานในลักษณะเดียวกับการหาความยาวของ List

In [ ]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')

# ใช้ len() เพื่อหาจำนวนสมาชิกใน Tuple
total_items = len(cars)

print(f"Total Items: {total_items}")
# ผลลัพธ์: Total Items: 4

Total Items: 4

## การวนซ้ำ (Iterate) ใน Tuple

>สามารถวนซ้ำเพื่อเข้าถึงสมาชิกแต่ละตัวใน Tuple ได้โดยใช้ for loop ซึ่งวิธีการนี้เหมือนกับการวนซ้ำผ่าน List

### **การใช้งาน `for` loop กับ Tuple**

>**`for`** loop จะทำงานผ่านสมาชิกใน Tuple ทีละตัวตั้งแต่ต้นจนจบ ทำให้เราสามารถประมวลผลหรือแสดงผลข้อมูลแต่ละรายการได้

In [ ]:
fruits = ('apple', 'banana', 'orange')

# วนซ้ำผ่านสมาชิกใน Tuple fruits
for fruit in fruits:
    print(fruit)

apple
banana
orange

### **การวนซ้ำด้วยดัชนี (index)**
หากต้องการเข้าถึงสมาชิกพร้อมกับดัชนี (index) ของสมาชิกใน Tuple เราสามารถใช้ฟังก์ชัน **`range()`** ร่วมกับ **`len()`** หรือใช้ฟังก์ชัน **enumerate()**

**ตัวอย่างการใช้ `range()` และ `len()`**

In [ ]:
languages = ('Python', 'Java', 'C#')

# วนซ้ำตามดัชนี (0, 1, 2)
for i in range(len(languages)):
    print(f"Index {i}: {languages[i]}")

Index  0 :  Python
Index  1 :  Java
Index  2 :  C#

**ตัวอย่างการใช้ `enumerate()`**

In [ ]:
languages = ('Python', 'Java', 'C#')

# ใช้ enumerate() เพื่อรับทั้งดัชนีและค่าของสมาชิก
for index, language in enumerate(languages, 1):
    print(f"Index {index}: {language}")

Index 1: Python
Index 2: Java
Index 3: C#

## การตรวจสอบว่าสมาชิกมีอยู่ใน Tuple หรือไม่

>ใน Python เราสามารถตรวจสอบว่าสมาชิกตัวใดตัวหนึ่งมีอยู่ใน Tuple หรือไม่ โดยใช้คีย์เวิร์ด **`in`** ซึ่งเป็นวิธีการที่ง่ายและมีประสิทธิภาพ

**การใช้งาน `in`**

คีย์เวิร์ด **`in`** ทำหน้าที่ตรวจสอบ **"การเป็นสมาชิก" (Membership Test)**
โดยจะคืนค่าเป็น **`True`** หากสมาชิกที่ต้องการค้นหามีอยู่ใน Tuple และจะคืนค่าเป็น **`False`** หากไม่พบ

**`รูปแบบการใช้งาน`**

**`element in tuple_name`**

In [ ]:
colors = ('red', 'orange', 'blue')

# ตรวจสอบว่า 'yellow' มีอยู่ใน Tuple หรือไม่
print('yellow' in colors)
# ผลลัพธ์: False ('yellow' ไม่มีใน colors)

# ตรวจสอบว่า 'red' มีอยู่ใน Tuple หรือไม่
print('red' in colors)
# ผลลัพธ์: True ('red' มีใน colors)

False
True

**`การใช้งาน not in`**

นอกจากนี้ เรายังสามารถใช้คีย์เวิร์ด **`not in`** เพื่อตรวจสอบว่าสมาชิก ไม่มี อยู่ใน Tuple หรือไม่

In [ ]:
colors = ('red', 'orange', 'blue')

# ตรวจสอบว่า 'yellow' ไม่อยู่ใน Tuple หรือไม่
print('yellow' not in colors)
# ผลลัพธ์: True ('yellow' ไม่อยู่ใน colors)

True

## การลบ Tuple

>เนื่องจาก **Tuple** เป็นโครงสร้างข้อมูลที่ไม่สามารถเปลี่ยนแปลงได้ (**`immutable`**) จึงไม่สามารถลบสมาชิกแต่ละรายการใน **Tuple** ได้โดยตรง




>อย่างไรก็ตาม สามารถลบ **Tuple** ทั้งหมด ออกจากหน่วยความจำได้ โดยใช้คำสั่ง **`del`** (delete)

**การใช้งาน `del` เพื่อลบ Tuple**

การใช้คำสั่ง **`del`** ตามด้วยชื่อ Tuple จะทำให้ Tuple นั้นถูกลบออกไป และไม่สามารถเข้าถึงได้อีก

In [ ]:
animals = ('dog', 'cat', 'rat')

# ลบ Tuple 'animals'
del animals

# หากเราพยายามเรียกใช้ 'animals' หลังจากลบ
print(animals)

NameError: name 'animals' is not defined

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
all_list =list2
print(all_list)

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [ ]:
command = input()

CCSS

In [ ]:
print(type(command))

<class 'str'>

In [ ]:
deck = input("Please enter the cards in the deck (separated by spaces): ").split()
command = input("Please enter the commands (e.g., CSCS): ")
for i in command:
  if i.upper() =='C':
    mid = len(deck)//2
    first = deck[:mid]
    second = deck[mid:]
    deck = second + first

print(deck)

Please enter the cards in the deck (separated by spaces): A J Q 10
Please enter the commands (e.g., CSCS): C
['Q', '10', 'A', 'J']

In [ ]:
deck = input().split()

A J 10 Q

In [ ]:
mid = len(deck)//2

In [ ]:
first = deck[:mid]

In [ ]:
second = deck[mid:]

In [ ]:
print(first)

['A', 'J']

In [ ]:
print(second)

['Q', '10']

In [ ]:
deck = second + first

In [ ]:
deck

['Q', '10', 'A', 'J']

In [ ]:
point = [(5,2), (3,8), (4,4), (3,9), (25,5), (10,1), (2,4), (9,3)]

swapped = [(y, x) for x, y in point]
print(swapped)

[(2, 5), (8, 3), (4, 4), (9, 3), (5, 25), (1, 10), (4, 2), (3, 9)]